* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    background: linear-gradient(135deg, #3f4d9e, #360141, #0e013b);
    color: rgb(255, 255, 255);
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 55px;
    height: 55px;
    right: 100px;
    border-radius: 5px;
    border: #fff solid 1px;
}


.navbar {
    background-color: #9e94f8;
    box-shadow: white;
    border-radius: 10px;
    border: 1px solid white;
    position: sticky !important;
}

.nav-link {
    color: rgb(0, 0, 0);
    box-shadow: white;
    transition: 0.3s ease;
    font-size: 20px;
}

.nav-link:hover {
    color: #272626;
    transform: scale(1.05);
    font-size: 20px;
}

/* .btn-resume {
    background: #6C63FF;
    font-style: italic;
    font-size: 50px;
    color: #ffffff;
    border: none;
    padding: 12px 35px;
    border-radius: 8px;
} */
.btn-resume {
    background: var(--secondary);
    color: white;
    border: none;
    border-radius: 8px;
    font-style: italic;
    font-size: 50px;
    font-weight: 600;
    padding: 12px 35px;
}

.btn-resume:hover {
    background: #574BDB;
    color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
    border-radius: 20px;
    color: black;
}

.builder-container.modern,
.resume.modern {

    --primary: #051a94;
    --secondary: #1d5db1;
    --card: #c9c2f5;
    --bg: #ebebf5;
    --text: #1e293b;
    --accent: #012757;
    display: grid;
    grid-template-columns: 40% 60%;
    /* background-color: #1d4ed8; */
    height: 200vh;
}

.builder-container.professional,
.resume.professional {
    display: grid;
    grid-template-columns: 40% 60%;
    /* background-color: #1d4ed8; */
    height: 200vh;
    --primary: #0d5210;
    --secondary: #f1fdef;
    --card: #b3fabd;
    --bg: #e3f7e4;
    --text: #1e3b24;
    --accent: #005000;

}

.builder-container.classic,
.resume.classic {
    display: grid;
    grid-template-columns: 40% 60%;
    /* background-color: #1d4ed8; */
    height: 200vh;
    --primary: #3b0000;
    --secondary: #e08282;
    --card: #fda9a9;
    --bg: #F5EBDD;
    --text: #420000;
    --accent: #440202;

}

.builder-container.creative,
.resume.creative {
    display: grid;
    grid-template-columns: 40% 60%;
    /* background-color: #1d4ed8; */
    height: 200vh;
    --primary: #c0db27;
    --secondary: #f1d4e5;
    --card: #faea90;
    --bg: #f3f8c7;
    --text: #838118;
    --accent: #525802;

}

.builder-container.simple,
.resume.simple {
    display: grid;
    grid-template-columns: 40% 60%;
    /* background-color: #1d4ed8; */
    height: 200vh;
    --primary: #363636;
    --secondary: #E5E7EB;
    --card: #cfcaca;
    --bg: #f1f1f1;
    --text: #202020;
    --accent: #000000;

}

.builder-container.executive,
.resume.executive {
    display: grid;
    grid-template-columns: 40% 60%;
    /* background-color: #1d4ed8; */
    height: 200vh;
    --primary: #410041;
    --secondary: #fbccf7;
    --card: #eb89ff;
    --bg: #fbecff;
    --text: #38003d;
    --accent: #4b024b;

}

/* 
.builder-container {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #1d4ed8;
    height: 200vh;

} */
/* new css of form */
.form-section {
    background: var(--bg);
    padding: 30px;
    overflow-y: auto;
    border-radius: 20px;
    border-right: 1px solid var(--secondary);
}

.form-section::-webkit-scrollbar {
    width: 8px;
}

.form-section::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 20px;
}

.form-section h2 {
    font-size: 32px;
    color: var(--text);
    margin-bottom: 10px;
}

.form-section>p {
    color: var(--accent);
    margin-bottom: 30px;
}

.form-card {
    background: var(--card);
    border-radius: 15px;
    padding: 22px;
    margin-bottom: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .06);
}

.form-card h3 {
    color: var(--text);
    margin-bottom: 20px;
    font-size: 20px;
}

.form-card h3 i {
    color: var(--primary);
    margin-right: 10px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title button {
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 50%;
    background: var(--primary);
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
}

.title button:hover {
    background: var(--accent);
    transform: rotate(90deg);
}

.form-card input,
.form-card textarea {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 15px;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    transition: .3s;
    background: white;
    color: var(--text);
}

.form-card input:focus,
.form-card textarea:focus {
    border-color: var(--primary);
    box-shadow: 0 0 8px rgba(37, 99, 235, .15);
}

textarea {
    resize: vertical;
}

input[type="file"] {
    padding: 12px;
    cursor: pointer;
}

.education-item,
.experience-item,
.project-item {
    margin-bottom: 20px;
    padding: 18px;
    border: 1px dashed var(--primary);
    border-radius: 10px;
}

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.buttons button {
    flex: 1;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: .3s;
}

#resetBtn {
    background: var(--secondary);
    color: var(--text);
}

#resetBtn:hover {
    background: var(--accent);
    color: white;
}

.buttons i {
    margin-right: 8px;
}

/* 
.form-section {
    background: #b3aef5;
    padding: 30px;
    overflow-y: auto;
    border-right: 1px solid #dbe4ee;
}

.form-section::-webkit-scrollbar {
    width: 8px;
}

.form-section::-webkit-scrollbar-thumb {
    background: #2563eb;
    border-radius: 20px;
}

.form-section h2 {
    font-size: 32px;
    color: #1e293b;
    margin-bottom: 10px;
}

.form-section>p {
    color: #64748b;
    margin-bottom: 30px;
}

.form-card {
    background: #ccf1c4;
    border-radius: 15px;
    padding: 22px;
    margin-bottom: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .06);
}

.form-card h3 {
    color: #1e293b;
    margin-bottom: 20px;
    font-size: 20px;
}

.form-card h3 i {
    color: #2563eb;
    margin-right: 10px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title button {
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 50%;
    background: #137a13;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
}

.title button:hover {
    background: #10771e;
    transform: rotate(90deg);
}

.form-card input,
.form-card textarea {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 15px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    transition: .3s;
}

.form-card input:focus,
.form-card textarea:focus {
    border-color: #125f0f;
    box-shadow: 0 0 8px rgba(37, 99, 235, .15);
}

textarea {
    resize: vertical;
}

input[type="file"] {
    padding: 12px;
    cursor: pointer;
}

.education-item,
.experience-item,
.project-item {
    margin-bottom: 20px;
    padding: 18px;
    border: 1px dashed #cbd5e1;
    border-radius: 10px;
}

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.buttons button {
    flex: 1;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: .3s;
}

#resetBtn {
    background: #e2e8f0;
    color: #1e293b
}

#resetBtn:hover {
    background: #cbd5e1;
}

.buttons i {
    margin-right: 8px;
} */

.resume-section {
    border-radius: 20px;
    background: #ffffff;
    padding: 40px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.resume-section::-webkit-scrollbar {
    width: 8px;
}

.resume-section::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 20px;
}

/* new code: */
.resume.modern {
    --primary: #2563eb;
    --secondary: #dbeafe;
    --text: #1e293b;
    --accent: #022249;
    --card: #c9c2f5;

}

.resume.professional {
    --primary: #125301;
    --secondary: #9cff98;
    --text: #1c4125;
    --accent: #015708;
    --card: #b3fabd;
}

.resume.classic {
    --primary: #47012a;
    --secondary: #fab5b5;
    --text: #500202;
    --accent: #500101;
    --card: #f8acac;
}

.resume.creative {
    --primary: #505e00;
    --secondary: #ebf1d4;
    --card: #faea90;
    --text: #444300;
    --accent: #303301;
}

.resume.simple {
    --primary: #374151;
    --secondary: #f3f4f6;
    --text: #111827;
    --accent: #000000;
    --card: #cfcaca;
}

.resume.executive {
    --primary: #410041;
    --secondary: #f0ccfb;
    --text: #3b0f46;
    --accent: #2c0146;
    --card: #eb89ff;
}

.resume {
    border-radius: 20px;
    width: 210mm;
    min-height: 297mm;
    /* background: #e7e4e4; */
    background: var(--card);
    box-shadow: 0 10px 35px rgba(0, 0, 0, .15);
    padding: 45px;
}

.resume-header {
    text-align: center;
    /* border-bottom: 3px solid #000000; */
    border-bottom: 3px solid var(--primary);
    padding-bottom: 25px;
    margin-bottom: 35px;
}

.resume-header img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    /* border: 5px solid #000000; */
    border: 5px solid var(--primary);
    margin-bottom: 20px;
}

.resume-header h1 {
    font-size: 38px;
    font-style: italic;
    /* color: #000000; */
    color: var(--primary);
    margin-bottom: 8px;
}

.resume-header h3 {
    color: #000000;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
}

.resume-block {
    margin-bottom: 30px;
}

.resume-block h2 {
    /* color: #000000; */
    color: var(--primary);
    border-left: 6px solid var(--primary);
    font-size: 22px;
    margin-bottom: 15px;
    /* border-left: 6px solid #000000; */
    padding-left: 12px;
}

.resume-block p {
    /* color: #475569; */
    color: var(--text);
    line-height: 1.8;
    margin-bottom: 10px;
}

.resume-block ul {
    margin-left: 20px;
}

.resume-block ul li {
    margin-bottom: 8px;
    color: #000000;
}

#previewEducation {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.education-box {
    /* border-left: 4px solid #560e58; */
    border-left: 4px solid var(--primary);
    padding-left: 15px;
}

.education-box h4 {
    color: var(--text);
    /* color: #1e293b; */
    font-size: 18px;
}

.education-box span {
    /* color: #ba8cc0; */
    color: var(--accent);
    display: block;
    margin-top: 5px;
}

#previewExperience {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience-box {
    /* border-left: 4px solid #5a0f54; */
    border-left: 4px solid var(--primary);
    padding-left: 15px;
}

.experience-box h4 {
    /* color: #361e3b; */
    color: var(--text);
    font-size: 18px;
}

.experience-box span {
    color: #252525;
    display: block;
    margin: 5px 0;
}

.experience-box p {
    margin-top: 8px;
}

#previewProjects {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.project-box {
    /* background: #c8f8d3; */
    background: var(--secondary);
    padding: 15px;
    border-radius: 10px;
    /* border-left: 4px solid #500202; */
    border-left: 4px solid var(--primary);
}

.project-box h4 {
    color: #1e293b;
    margin-bottom: 8px;
}

.project-box p {
    /* color: #b6d2f8; */
    color: var(--text);
}

#previewSkills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    margin-left: 0;
}

#previewSkills li {
    /* background: #490101; */
    background: var(--primary);
    color: #fff;
    padding: 8px 16px;
    border-radius: 30px;
    font-size: 14px;
}

#previewCertificates {
    list-style: square;
}

#previewLanguages {
    list-style: circle;
}

#previewEmail,
#previewPhone,
#previewAddress,
#previewLinkedin,
#previewGithub {
    margin-bottom: 8px;
}

.footer {
    background: linear-gradient(135deg, #3f4d9e, #360141, #0e013b);
    padding-top: 50px;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    min-width: 250px;
}

.footer-logo {
    font-size: 40px;
    font-weight: bold;
    color: #8375d6;
    margin-bottom: 15px;
    font-family: cursive;
}

.footer-col h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #b0a8f5;
}


.footer-col p {
    font-size: 17px;
    line-height: 1.8;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #b5b0f5;
    padding-left: 8px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(67, 57, 156, 0.4);
    font-size: 17px;
    font-weight: bold;
    border-top: 2px solid #ffc0cb;
}

@media (max-width: 991px) {

    .navbar-collapse {
        text-align: center;
    }

}

@media (max-width: 615px) {

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .footer-col {
        width: 100%;
    }

    .footer-col ul {
        padding: 0;
        list-style: none;
    }

    .footer-col .social-icons {
        justify-content: center;
    }

}