* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    background: linear-gradient(135deg, #3f4d9e, #360141, #0e013b);
    color: rgb(255, 255, 255);
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 55px;
    height: 55px;
    right: 100px;
    border-radius: 5px;
    border: #fff solid 1px;
}


.navbar {
    background-color: #9e94f8;
    box-shadow: white;
    border-radius: 10px;
    border: 1px solid white;
    position: sticky !important;
}

.nav-link {
    color: rgb(0, 0, 0);
    box-shadow: white;
    transition: 0.3s ease;
    font-size: 20px;
}

.nav-link:hover {
    color: #272626;
    transform: scale(1.05);
    font-size: 20px;
}

.btn-resume {
    background: #6C63FF;
    font-style: italic;
    font-size: 50px;
    color: #ffffff;
    border: none;
    padding: 12px 35px;
    border-radius: 8px;
}

.btn-resume:hover {
    background: #574BDB;
    color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
    border-radius: 20px;
    color: black;
}

.builder-container {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #1d4ed8;
    height: 200vh;

}

.form-section {
    background: #b3aef5;
    padding: 30px;
    overflow-y: auto;
    border-right: 1px solid #dbe4ee;
}

.form-section::-webkit-scrollbar {
    width: 8px;
}

.form-section::-webkit-scrollbar-thumb {
    background: #2563eb;
    border-radius: 20px;
}

.form-section h2 {
    font-size: 32px;
    color: #1e293b;
    margin-bottom: 10px;
}

.form-section>p {
    color: #64748b;
    margin-bottom: 30px;
}

.form-card {
    background: #ccf1c4;
    border-radius: 15px;
    padding: 22px;
    margin-bottom: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .06);
}

.form-card h3 {
    color: #1e293b;
    margin-bottom: 20px;
    font-size: 20px;
}

.form-card h3 i {
    color: #2563eb;
    margin-right: 10px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title button {
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 50%;
    background: #137a13;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
}

.title button:hover {
    background: #10771e;
    transform: rotate(90deg);
}

.form-card input,
.form-card textarea {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 15px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    transition: .3s;
}

.form-card input:focus,
.form-card textarea:focus {
    border-color: #125f0f;
    box-shadow: 0 0 8px rgba(37, 99, 235, .15);
}

textarea {
    resize: vertical;
}

input[type="file"] {
    padding: 12px;
    cursor: pointer;
}

.education-item,
.experience-item,
.project-item {
    margin-bottom: 20px;
    padding: 18px;
    border: 1px dashed #cbd5e1;
    border-radius: 10px;
}

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.buttons button {
    flex: 1;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: .3s;
}

#resetBtn {
    background: #e2e8f0;
    color: #1e293b
}

#resetBtn:hover {
    background: #cbd5e1;
}

.buttons i {
    margin-right: 8px;
}

.resume-section {
    border-radius: 20px;
    background: #4f5001;
    padding: 40px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.resume-section::-webkit-scrollbar {
    width: 8px;
}

.resume-section::-webkit-scrollbar-thumb {
    background: #4b4000;
    border-radius: 20px;
}

.resume {
    border-radius: 20px;
    width: 210mm;
    min-height: 297mm;
    background: #f6f7d3;
    box-shadow: 0 10px 35px rgba(0, 0, 0, .15);
    padding: 45px;
}

.resume-header {
    text-align: center;
    border-bottom: 3px solid #5d6310;
    padding-bottom: 25px;
    margin-bottom: 35px;
}

.resume-header img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #615910;
    margin-bottom: 20px;
}

.resume-header h1 {
    font-size: 38px;
    font-style: italic;
    color: #5c6301;
    margin-bottom: 8px;
}

.resume-header h3 {
    color: #706a11;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
}

.resume-block {
    margin-bottom: 30px;
}

.resume-block h2 {
    color: #011d58;
    font-size: 22px;
    margin-bottom: 15px;
    border-left: 6px solid #696011;
    padding-left: 12px;
}

.resume-block p {
    color: #475569;
    line-height: 1.8;
    margin-bottom: 10px;
}

.resume-block ul {
    margin-left: 20px;
}

.resume-block ul li {
    margin-bottom: 8px;
    color: #fdfcae;
}

#previewEducation {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.education-box {
    border-left: 4px solid #58570e;
    padding-left: 15px;
}

.education-box h4 {
    color: #1e293b;
    font-size: 18px;
}

.education-box span {
    color: #c0bd8c;
    display: block;
    margin-top: 5px;
}

#previewExperience {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience-box {
    border-left: 4px solid #595a0f;
    padding-left: 15px;
}

.experience-box h4 {
    color: #3a3b1e;
    font-size: 18px;
}

.experience-box span {
    color: #64748b;
    display: block;
    margin: 5px 0;
}

.experience-box p {
    margin-top: 8px;
}

#previewProjects {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.project-box {
    background: #c8f8d3;
    padding: 15px;
    border-radius: 10px;
    border-left: 4px solid #500202;
}

.project-box h4 {
    color: #1e293b;
    margin-bottom: 8px;
}

.project-box p {
    color: #b6d2f8;
}

#previewSkills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    margin-left: 0;
}

#previewSkills li {
    background: #490101;
    color: #fff;
    padding: 8px 16px;
    border-radius: 30px;
    font-size: 14px;
}

#previewCertificates {
    list-style: square;
}

#previewLanguages {
    list-style: circle;
}

#previewEmail,
#previewPhone,
#previewAddress,
#previewLinkedin,
#previewGithub {
    margin-bottom: 8px;
}

.footer {
    background: linear-gradient(135deg, #3f4d9e, #360141, #0e013b);
    padding-top: 50px;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    min-width: 250px;
}

.footer-logo {
    font-size: 40px;
    font-weight: bold;
    color: #8375d6;
    margin-bottom: 15px;
    font-family: cursive;
}

.footer-col h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #b0a8f5;
}


.footer-col p {
    font-size: 17px;
    line-height: 1.8;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #b5b0f5;
    padding-left: 8px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(67, 57, 156, 0.4);
    font-size: 17px;
    font-weight: bold;
    border-top: 2px solid #ffc0cb;
}