* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    background: linear-gradient(135deg, #3f4d9e, #360141, #0e013b);
    color: rgb(255, 255, 255);
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 55px;
    height: 55px;
    right: 100px;
    border-radius: 5px;
    border: #fff solid 1px;
}


.navbar {
    background-color: #9e94f8;
    box-shadow: white;
    border-radius: 10px;
    border: 1px solid white;
    position: sticky !important;
}

.nav-link {
    color: rgb(0, 0, 0);
    box-shadow: white;
    transition: 0.3s ease;
    font-size: 20px;
}

.nav-link:hover {
    color: #272626;
    transform: scale(1.05);
    font-size: 20px;
}
.contact-hero{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:90px 20px;
}

.contact-hero h1{
    font-size:3rem;
    margin-bottom:15px;
}

.contact-hero p{
    max-width:650px;
    margin:auto;
    color:#cbd5e1;
    line-height:1.8;
}
.contact-info{
    width:90%;
    max-width:1200px;
    margin:70px auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.info-card{
    background:rgb(150, 155, 226);
    padding:35px;
    text-align:center;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.info-card:hover{
cursor: pointer;
    transform:translateY(-10px);
}

.info-card i{
    font-size:35px;
    color:#2563eb;
    margin-bottom:15px;
}

.info-card h3{
    margin-bottom:10px;
}
.contact-section{
    width:90%;
    max-width:1200px;
    margin:90px auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:center;
}

.contact-left h2{
    font-size:2.3rem;
    font-weight: 500;
    color:#ffffff;
    margin-bottom:20px;
}

.contact-left p{
    color:#ffffff;
    line-height:1.8;
    margin-bottom:30px;

}

.contact-left img{
    width:450px;
    height: 450px;
    border-radius: 50%;
}

.contact-right{
    background:rgb(207, 204, 247);
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.contact-right form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-right input,
.contact-right textarea{
    padding:15px;
    border:1px solid #d1d5db;
    border-radius:10px;
    font-size:16px;
    outline:none;
}

.contact-right input:focus,
.contact-right textarea:focus{
    border-color:#2563eb;
}

.contact-right button{
    background:#2563eb;
    color:rgb(255, 255, 255);
    border:none;
    padding:15px;
    border-radius:10px;
    cursor:pointer;
    font-size:17px;
    transition:.3s;
}

.contact-right button:hover{
    background:#8b8cf3;
    color: #000;
}
.contact-cta{
    width:90%;
    max-width:1200px;
    margin:100px auto;
    background:#5a0170;
    color:white;
    text-align:center;
    padding:70px 20px;
    border-radius:25px;
}

.contact-cta h2{
    font-size:2.3rem;
    margin-bottom:15px;
}

.contact-cta p{
    margin-bottom:30px;
}

.contact-cta a{
    display:inline-block;
    text-decoration:none;
    background:white;
    color:#2563eb;
    padding:14px 30px;
    border-radius:40px;
    font-weight:bold;
}
@media(max-width:768px){
.contact-section{
grid-template-columns:1fr;
}

.contact-hero h1{
font-size:2.2rem;
}
}

.footer {
    background: linear-gradient(135deg, #3f4d9e, #360141, #0e013b);
    padding-top: 50px;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    min-width: 250px;
}

.footer-logo {
    font-size: 40px;
    font-weight: bold;
    color: #8375d6;
    margin-bottom: 15px;
    font-family: cursive;
}

.footer-col h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #b0a8f5;
}


.footer-col p {
    font-size: 17px;
    line-height: 1.8;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #b5b0f5;
    padding-left: 8px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(67, 57, 156, 0.4);
    font-size: 17px;
    font-weight: bold;
    border-top: 2px solid #ffc0cb;
}