* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    background: linear-gradient(135deg, #3f4d9e, #360141, #0e013b);
    color: rgb(255, 255, 255);
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 55px;
    height: 55px;
    right: 100px;
    border-radius: 5px;
    border: #fff solid 1px;
}


.navbar {
    background-color: #9e94f8;
    box-shadow: white;
    border-radius: 10px;
    border: 1px solid white;
    position: sticky !important;
}

.nav-link {
    color: rgb(0, 0, 0);
    box-shadow: white;
    transition: 0.3s ease;
    font-size: 20px;
}

.nav-link:hover {
    color: #272626;
    transform: scale(1.05);
    font-size: 20px;

}

.template-hero {
    background-color: #8375d6;
    border-radius: 20px;
}

.template-heading {
    font-size: 3rem;
    font-weight: 800;
    color: #070157;
    font-style: italic;
    margin-bottom: 15px;
    transition: all 0.4s ease;
}

.template-heading:hover {
    color: #000000;
    transform: scale(1.05);
    cursor: pointer;
}

.tem-pra {
    font-size: 20px;
    font-style: italic;
    color: #ffffff;
}

.temp-img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 400px;
    width: 450px;
    border-radius: 50%;
    border: 2px solid #0f014b;
}

.temp-img:hover {
    box-shadow: 0 8px 16px rgb(255, 255, 255);
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.9s;
    cursor: pointer;
    animation-name: __flash;
    animation: slideFade 0.5s ease forwards;
}

/* Hero */

.hero {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 90px 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    max-width: 700px;
    margin: auto;
    color: #cbd5e1;
    line-height: 1.8;
}

.templates {

    width: 90%;
    max-width: 1300px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 35px;
}

.resumecard {
    background: rgb(170, 109, 167);
    border-radius: 25px;
    overflow: hidden;
    transition: .4s;
    box-shadow: 0 8px 25px rgb(191, 185, 245);
}
.resumecard:hover {
    cursor: pointer;
    background: rgb(170, 109, 167);
    border-radius: 25px;
    overflow: hidden;
    transition: .4s;
    box-shadow: 0 8px 25px rgb(255, 255, 255);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(37, 99, 235, .20);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.resume-img {
    width: 410px;
    height: 500px;
}

.content {
    background: rgb(170, 109, 167);
    padding: 25px;
}

.content h2 {
    color: #0f172a;
    margin-bottom: 12px;
    text-align: center;
}

.content p {
    color: #000000;
    line-height: 1.7;
    margin-bottom: 25px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content button{
    margin-top: 15px;
    padding: 12px 30px;
    background: #c93aed;   /* Purple */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.content button:hover{
    cursor: pointer;
    background: #46014d;   /* Dark Purple */
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
}
.content a {
    display: inline-block;
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 13px 28px;
    border-radius: 40px;
    transition: .3s;
    text-align: center;
}

.content a:hover {
    background: #1d4ed8;
}

@media(max-width:768px) {

    .hero h1 {

        font-size: 2.2rem;
    }

    .templates {
        grid-template-columns: 1fr;
    }

    .card img {
        height: 260px;
    }
}

.footer {
    background: linear-gradient(135deg, #3f4d9e, #360141, #0e013b);
    padding-top: 50px;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    min-width: 250px;
}

.footer-logo {
    font-size: 40px;
    font-weight: bold;
    color: #8375d6;
    margin-bottom: 15px;
    font-family: cursive;
}

.footer-col h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #b0a8f5;
}

.footer-col p {
    font-size: 17px;
    line-height: 1.8;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #b5b0f5;
    padding-left: 8px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(67, 57, 156, 0.4);
    font-size: 17px;
    font-weight: bold;
    border-top: 2px solid #ffc0cb;
}